* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: sans-serif;
  background-color: darkgrey;
}

.app header {
  background-color: black;
  text-align: center;
  color: #d9d9db;
  padding: 1rem;
}

.app nav {
  border: 1px solid white;
  background-color: black;
  text-align: center;
  color: #d9d9db;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.app nav a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
}

.app footer {
  background-color: black;
  text-align: right;
  color: #d9d9db;
  padding: 2rem;
}

main.app > section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

section h1.titleAddMed,
h1.titleEditMed,
h1.titleFilterMed {
  text-align: center;
  margin: 1rem 0;
}

main.app form.FormAddMed,
form.edit-med,
form.FormMedLab {
  background-color: darkkhaki;
  border: 0.2rem solid black;
  margin-bottom: 1rem;
}

section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 0.5rem;

  text-decoration: none;
}

main.app > section.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.app > section.error p {
  margin-bottom: 1rem;
}

main.app > section h1 {
  margin-bottom: 1rem;
}

ul.Med-list li {
  width: 30rem;
  background-color: #000;
  border: 1px solid #000;
  text-align: center;
  list-style: none;
  color: #fff;
}

article.Medicines {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: goldenrod;
  color: #000;
}

p.loading {
  text-align: center;
  padding: 2rem;
}

span {
  display: flex;
  justify-content: flex-end;
}

ul.Med-list {
  margin-bottom: 1rem;
}

ul.Med-list li p {
  font-weight: bold;
}

main form {
  text-align: center;
}
form label.important {
  font-weight: bolder;
}

form input {
  width: 80%;
}

span.ButtonBar Button.DelButton {
  width: 3rem;
}

span.ButtonBar Button.addUnitButton,
Button.delUnitButton {
  width: 2rem;
}
